.padding-0{
    padding: 0;
}
.margin-0{
    margin: 0;
}
.input-border{
    border-top-right-radius:0;
    border-bottom-right-radius:0;
}
.btn-border{
    border-top-left-radius:0;
    border-bottom-left-radius:0;
}
.content{
    color: red;
    text-decoration: line-through;
}